@import "tailwindcss";
html {
  font-size: 10px;
}

* {
  -ms-overflow-style: none;
  font-family: "Roboto" !important;
  /* font-size: 20px; */
  /* font-weight: 500; */
}
/* 
::-webkit-scrollbar {
  display: none;
} */

.filter__modal .inputs-datetime-group {
  display: grid;
  grid-template-columns: auto 4rem auto;

  .next-icon {
    width: 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f1ff;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    box-sizing: border-box;
    color: #555;
    transition: background-color 0.3s ease;
  }
}
.date-time_from {
  width: 100%;
  .css-1n04w30-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 0.4rem 0 0 0.4rem;
  }
}
.date-time_to {
  width: 100%;
  .css-1n04w30-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 0 0.4rem 0.4rem 0;
  }
}


@keyframes strongBlink {
  0% {
    background-color: #f87171; /* red-400 */
  }
  50% {
    background-color: #ffffff; /* white */
  }
  100% {
    background-color: #f87171;
  }
}

.blink-strong {
  animation: strongBlink 0.5s infinite;
}