@import "tailwindcss";
html {
  font-size: 10px;
}

* {
  -ms-overflow-style: none;
  font-family: "Roboto" !important;
  font-size: 20px;
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}

.text {
  font-family: "Roboto" !important;
}
